# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Firebase secrets
serviceAccountKey.json

# Uncomment this if you'd like others to create their own Firebase project.
# .firebaserc

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
.nyc_output

# Dependency directories
node_modules/
bower_components

# Optional caches
.npm
.eslintcache
.grunt

# Build
build/Release
.lock-wscript

# Other
*.tgz
*.seed
*.pid.lock
.node_repl_history
.yarn-integrity

# Environment
.env
.env.local

# Firebase/Google
.dataconnect