/* Estilos específicos para a página de resultado */

body {
    font-family: var(--font-body);
    color: var(--azul-petroleo);
}

.card-header {
    font-family: var(--font-display);
    font-size: 1.5rem;
    color: var(--verde-oliva);
    background-color: #fdfbf7;
}

.progress {
    background-color: var(--cinza-claro);
}

.chart-container {
    position: relative;
    width: 100%;
    height: 300px; /* Altura padrão, pode ser ajustada */
}

.btn-outline-primary {
    color: var(--verde-oliva);
    border-color: var(--verde-oliva);
}

.btn-outline-primary:hover {
    color: var(--branco);
    background-color: var(--verde-oliva);
    border-color: var(--verde-oliva);
}

.text-danger { color: var(--danger) !important; }
.bg-danger { background-color: var(--danger) !important; }
.list-group-item-danger { background-color: #f8d7da !important; }

.text-warning { color: var(--warning) !important; }
.bg-warning { background-color: var(--warning) !important; }
.list-group-item-warning { background-color: #fff3cd !important; }

.text-success { color: var(--success) !important; }
.bg-success { background-color: var(--success) !important; }

